<!--<div class="container">-->
<div class="container">

<div class="flex">

   <% @mitames.each do |mitame| %>
    <ul class="list">
     <li class="list-mv02"" style="background-image: url(<%= mitame.image %>);">
      <%= simple_format(mitame.text) %>
      <span class="name"><%= mitame.name %></span>
      <p><%= link_to '詳細', "/mitames/#{mitame.id}", method: :get %></li>
     </li>
	</ul>
   <% end %>
    <h1><%= paginate(@mitames) %></h>
	 

</div>
</div>

