<!DOCTYPE html>
<html>
  <head>
    <title>View0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="./jquery.inview.js"></script>
    
    
  </head>

 <body>
  <div class="container">
    <header>
     <h1> &nbsp;&nbsp;&nbsp;One Coin Coock!!!!!!!!!!</h1>
      <nav>
       <ul>
        <li style="display:inline"><a href="index.html">ホーム</a></li> <li style="display:inline"><a href="menu01.html">メニュー1</a></li> <li style="display:inline"><a href="menu02.html">メニュー2</a></li>
       </ul>
     </nav>
   </header>
    <%= yield %>
     <footer>
        <nav>
          <ul>
           <li style="display:inline"><a href="index.html">ホーム</a></li> <li style="display:inline"><a href="menu01.html">メニュー1</a></li> <li style="display:inline"><a href="menu02.html">メニュー2</a></li>
          </ul>
      </nav>
    </footer>
    </div>
  </body>
</html>
